<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.himanshuain.logbook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>logbook</string>
			</array>
		</dict>
	</array>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5uaGhmcGprZmhxaHhwa2tseHBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU2MDgxMjAsImV4cCI6MjA4MTE4NDEyMH0.lev8EWo7XdTs6xsNlLdvaFy6pz6z6jTPAxQZ5ZGfKIk</string>
	<key>SUPABASE_URL</key>
	<string>https://nnhhfpjkfhqhxpkklxpc.supabase.co</string>
</dict>
</plist>
